PORT=3000

# Blockchain mode. Leave empty for local demo mode.
RPC_URL=https://ethereum-sepolia-rpc.publicnode.com
PRIVATE_KEY=your_backend_manager_private_key_without_or_with_0x
CONTRACT_ADDRESS=0xYourDeployedContractAddress
ETHERSCAN_TX_URL=https://sepolia.etherscan.io/tx/

# MetaMask authorization.
# Add one or more admin wallet addresses separated by commas.
ADMIN_WALLETS=0xYourAdminWalletAddress

# Public URL where NFT metadata JSON files are available.
# For local testing use http://localhost:3000/metadata.
# For MetaMask display use GitHub Pages/IPFS URL.
METADATA_BASE_URL=https://illyastydy.github.io/web3-passports-metadata/metadata

# GitHub API auto-sync for NFT metadata.
GITHUB_OWNER=your_github_username
GITHUB_REPO=web3-passports-metadata
GITHUB_BRANCH=main
GITHUB_TOKEN=your_fine_grained_github_token
GITHUB_METADATA_BASE_URL=https://illyastydy.github.io/web3-passports-metadata
